@font-face {
    font-family: Prompt-Regular;
    src: url(../font/Prompt-Regular.ttf);
}

.box {
    border: red;
    border-style: solid;
    border-width: 5px;
}

.main-font-color {
    color: #FFFFFF;
}

.second-font-color {
    color: #134B70;
}

.bg-main-color {
    background-color: #134B70;
}

.bg-second-color {
    background-color: #FFFFFF;
}

.btn-size {
    padding: 8px 13px;
}

.font-main-style {
    font-family: "Prompt-Regular";
}